<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>firstSetvlet</servlet-name>
  	<servlet-class>servlets.MainServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>logOrReg</servlet-name>
  	<servlet-class>servlets.SelectServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>sessionServlet</servlet-name>
  	<servlet-class>servlets.SessionServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>firstSetvlet</servlet-name>
  	<url-pattern>/myFirstUrl</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>logOrReg</servlet-name>
  	<url-pattern>/selectPage</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>sessionServlet</servlet-name>
  	<url-pattern>/sessionPage</url-pattern>
  </servlet-mapping>
</web-app>
